:root {
  --color-primary: #ffce00;
  --color-secondary: #ffa300;
  --color-title: ;
  --color-text: #707789;
  --color-bg: #dedede;
  --font-title: fresh_fruit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: var(--color-primary);
}

nav img {
  margin: 25px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 25px;
  font-weight: 500;
  font-family: var(--font-title);
}

nav ul li a:hover {
  color: aliceblue;
}

main {
  background-color: var(--color-bg);
}

footer {
  width: 100vw;
  min-height: 150px;
  background-color: var(--color-text);
}

footer img{
  margin: 25px;
}

@font-face {
  font-family: fresh_fruit;
  src: url('../fonts/Fresh_Fruit.ttf');
}