{% extends 'layouts/base.html' %}

{% block content %}
  <h1>Jairo dv - Desarrollador web</h1>
  <div class="about">
    <img src="https://picsum.photos/300/350" alt="image">
    <div class="about-content">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum architecto quidem exercitationem quisquam repudiandae soluta ad, perferendis saepe inventore. Omnis qui tempora officiis hic illo corporis doloribus maxime atque pariatur.</p>
    </div>
  </div>
{% endblock %}